@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
}

@font-face {
    font-family: young-sheriff;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf)
}

body {
    font-family: outfit;
    background-color:hsl(30, 54%, 90%)
}

.title {
    margin: 10px;
    font-family: young-sheriff;
}
.card {
    border-radius: 30px;
  border: 50px;
  border-color: brown;
  padding: 50px;
  margin: 30px;
  background-color: hsl(0, 0%, 100%)

}
.preptime {
    margin: 10px;
   padding: 10px;
   background-color: hsl(330, 100%, 98%)
}

.prep {
    font-family: young-sheriff;
    margin: 25px;
    font-size: 16px;
    color: hsl(14, 45%, 36%)
}

.ingred {
    font-family: young-sheriff;
    margin: 10px;
    font-size: 20px;
    color: hsl(14, 45%, 36%)
}

.instruct {
    font-family: young-sheriff;
    margin: 10px;
    font-size: 20px;
    color: hsl(14, 45%, 36%)
}

.nutr {
    font-family: young-sheriff;
    margin: 10px;
    font-size: 20px;
    color: hsl(14, 45%, 36%)
}

.def {

    font-size: 10px;
    margin: 10px;
    
}

.table {
    margin: 10px;
}